MFE_DEFAULT_GRAPHQL_HTTP_URL=https://cf-suncoast-graphql-proxy.dev.suncoast.systems/graphql
MFE_DEFAULT_GRAPHQL_WS_URL=wss://cf-suncoast-graphql-proxy.dev.suncoast.systems/graphql
MFE_DEFAULT_GRAPHQL_AUTH_TOKEN=
MFE_PREVIEW_AUTH_ISSUER_URL=https://auth.suncoast.systems
MFE_PREVIEW_AUTH_CLIENT_ID=graphql-api-7603d234
MFE_PREVIEW_AUTH_AUDIENCE=
MFE_PREVIEW_AUTH_SCOPE=openid profile email
MFE_PREVIEW_PORT=4173
